
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: var(--background-color);
    color: var(--main-text);
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

header {
    background: var(--main-color);
    display: flex;
    padding: 1rem;
    justify-content: space-between;
}

section {
    padding: 8px;
}

@media only screen and (max-width: 640px) {
    header {
        padding: 0.5rem;
    }
}

svg.svg-defs {
    display: none;
}