figure.digilean-logo-login, digilean-logo-login svg {
    width: 15rem;
    height: 15rem;
}

#digilean-logo-login {
    --logo-top-left-color: var(--digilean-blue-sky-light);
    --logo-top-right-color: var(--digilean-blue);
    --logo-bottom-left-color: var(--digilean-blue);
    --logo-bottom-right-color: var(--digilean-blue);
}
figure.digilean-logo-login.round1 #digilean-logo-login {
    --logo-top-left-color: var(--digilean-blue);
    --logo-top-right-color: var(--digilean-blue-sky-light);
    --logo-bottom-left-color: var(--digilean-blue);
    --logo-bottom-right-color: var(--digilean-blue);
}
figure.digilean-logo-login.round2 #digilean-logo-login {
    --logo-top-left-color: var(--digilean-blue);
    --logo-top-right-color: var(--digilean-blue);
    --logo-bottom-left-color: var(--digilean-blue);
    --logo-bottom-right-color: var(--digilean-blue-sky-light);
}
figure.digilean-logo-login.round3 #digilean-logo-login {
    --logo-top-left-color: var(--digilean-blue);
    --logo-top-right-color: var(--digilean-blue);
    --logo-bottom-left-color: var(--digilean-blue-sky-light);
    --logo-bottom-right-color: var(--digilean-blue);