@model Models.TopMenuViewModel
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        @if (string.IsNullOrEmpty(Model.WebClientUrl))
        {
            <a class="nav-link text-dark" href="http://localhost:80">Client</a>
        }
        else {
            <a class="nav-link text-dark" href="@Model.WebClientUrl">Client</a>
        }
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
    </li>
    <li class="nav-item">
        @if (Model.IsLoggedIn)
        {
            <a class="nav-link text-dark" asp-area="" asp-page="/Logout">Logout</a>
        }
        else
        {
            <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
        }
        
    </li>
</ul>