@page
@using Test.model.Users
@model IndexModel
@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<h1 class="mt-5">Welcome to my AuthServer implementation!</h1>
<p class="lead">Powered by IdentityServer4 <small>(version @version)</small></p>

<p><a href=".well-known/openid-configuration">Discovery document</a></p>

@if(!string.IsNullOrEmpty(Model.LoggedInUser))
{
    <p>Logged in as @Model.LoggedInUser
    @if(!string.IsNullOrEmpty(Model.Role))
    {
        <br><b>Role </b><span>@Model.Role</span>
    }
    </p>
    @if(!string.IsNullOrEmpty(Model.Role) && Model.Role == SystemRoles.Admin)
    {
        @await Component.InvokeAsync("AdminOverView")
    }
}
else 
{
    <p>Not logged in</p>
}

