@page
@model IndexModel
@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version.ToString();
}

<h1 class="mt-5">Welcome to AuthServer!</h1>
<p class="lead">Powered by IdentityServer4 <small>(version @version)</small></p>

<h3>config</h3>
<p>ConnectionString: @Model.ConnectionString</p>
<p>AllowedClient: @Model.AllowedClientUrl</p>
<p>ClientId: @Model.AzureAdClientId<p>