@page
@using Test.auth.Pages
@model LoginModel

<div class="row">

    @if (Model.Vm.EnableLocalLogin)
    {
        <div class="col-md-4">

            <h1 class="mt-5 mb-3">Login</h1>

            <form asp-route="Login">
                <input type="hidden" asp-for="Vm.ReturnUrl" />
                <div class="form-group">
                    <label asp-for="Vm.Username"></label>
                    <input class="form-control" placeholder="Username" asp-for="Vm.Username" autofocus>
                </div>

                <div class="form-group">
                    <label asp-for="Vm.Password"></label>
                    <input type="password" class="form-control" placeholder="Password" asp-for="Vm.Password" autocomplete="off">
                </div>

                @if (Model.Vm.AllowRememberLogin)
                {
                    <div class="form-check">
                        <input type="checkbox" asp-for="Vm.RememberLogin" class="form-check-input">
                        <label asp-for="Vm.RememberLogin" class="form-check-label">Remember My Login</label>
                    </div>
                }

                <div class="mt-4 mb-4">
                    <button class="btn btn-primary" name="button" value="login">Login</button>
                    <button class="btn btn-light" name="button" value="cancel">Cancel</button>
                </div>

                <partial name="_ValidationSummary" />
            </form>
        </div>
    }

    @if (Model.Vm.VisibleExternalProviders.Any())
    {
        <div class="col-md-4 ml-5">

            <h1 class="mt-5 mb-3">External Login</h1>

            <div class="list-group">
                @foreach (var provider in Model.Vm.VisibleExternalProviders)
                {
                    <a class="list-group-item list-group-item-action" 
                       asp-page="/External/Challenge"
                       asp-route-provider="@provider.AuthenticationScheme"
                       asp-route-returnUrl="@Model.Vm.ReturnUrl">
                        @provider.DisplayName
                    </a>
                }
            </div>
        </div>
    }

    @if (!Model.Vm.EnableLocalLogin && !Model.Vm.VisibleExternalProviders.Any())
    {
        <div class="alert alert-warning">
            <strong>Invalid login request</strong>
            There are no login schemes configured for this client.
        </div>
    }
</div>
